@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/f/glyphicons-halflings-regular.eot');
    src: url('/f/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/f/glyphicons-halflings-regular.woff2') format('woff2'), url('/f/glyphicons-halflings-regular.woff') format('woff'), url('/f/glyphicons-halflings-regular.ttf') format('truetype'), url('/f/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.table th,
.table td {
    padding: 8px;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
.glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
}
.glyphicon-eye-open:before {
    content: "\e105";
}
.glyphicon-pencil:before {
    content: "\270f";
}
.glyphicon-trash:before {
    content: "\e020";
}

