/* General */
html body {
    background-color: rgba(227, 237, 249, 1);
    color: #585C61;
}
svg.icon, img.icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
/* Header */
.global-header {
    margin-bottom: 30px;
}
#title a {
    display: block;
    width: 42px;
    height: 42px;
    background-color: #182312;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
@media (min-width: 768px) {
    #title a {
        line-height: 67px;
        width: 67px;
        height: 67px;
        font-size: 38px;
    }
}
.global-header .nav #title {
    width: 42px;
    height: 42px;
    float: left;
}
@media (max-width: 768px) {
    .nav .container-fluid {
        padding: 0 !important;
    }
}
#account .account-toggle {
    background: transparent;
    height: 30px;
    line-height: 30px;
    border: none;
    box-shadow: none;
    color: #182312;
}
#account .account-toggle .glyphicon {
    top: .2em;
}
#account .navbar-toggle {
    margin: 4px 0;
    background: transparent;
    border: none;
    box-shadow: none;
}
#account .truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
@media (min-width: 768px) {
    #account .truncate {
        width: auto;
        overflow: visible;
    }
}
#sub-title {
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 6px;
}
#sub-title > span {
    line-height: 30px;
    height: 30px;
    display: block;
}
#sub-title span#day-of-journey {
    font-size: .8125em;
    text-transform: uppercase;
    cursor: pointer;
}
header .navbar-brand {
    height: 42px;
    padding: 11px 11px;
}
#nav-primary {
    background-color: #394E32;
    /* position: fixed;
    top: 42px; */
    left: 0;
    right: 0;
    z-index: 9;
    padding: 0;
}
@media (min-width: 768px) {
    #nav-primary {
        border-bottom: 1px solid #2b3d24;
        height: 67px!important;
    }
}
@media (min-width: 1240px) {
    #nav-primary {
        padding: 0 15px;
    }
}
@media (min-width: 768px) {
    #nav-primary .nav-primary-wrap {
        position: relative;
        z-index: 1;
        padding: 0 0 0 67px;
    }
}
@media (min-width: 1240px) {
    #nav-primary .nav-primary-wrap {
        padding: 0 100px 0 67px;
    }
}
#nav-primary #title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
    height: 67px;
    width: 67px;
    display: none;
}
@media (min-width: 768px) {
    #nav-primary #title {
        display: block;
    }
}
#title .icon {
    width: 42px;
    height: 42px;
    fill: #182312;
}
@media (min-width: 768px) {
    #title .icon {
        width: 67px;
        height: 67px;
    }
}
#nav-primary ul {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}
#nav-primary li {
    float: left;
    height: 40px;
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
@media (min-width: 768px) {
    #nav-primary li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        width: 10%;
        float: left;
        clear: none;
    }
    #nav-primary li {
        height: 66px !important;
    }
}
#nav-primary li:hover, #nav-primary li:focus {
    background-color: #32442b;
    text-decoration: none;
}
#nav-primary li.active {
    background-color: #30462a;
}
#nav-primary li a {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 40px;
    border-bottom: 1px solid #2b3d24;
    text-align: left;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    background: none;
}
@media (min-width: 768px) {
    #nav-primary li a {
        border-bottom: 0;
        border-right: 1px solid #2b3d24;
    }
    #nav-primary li a {
        height: 67px !important;
        font-size: 11px !important;
        text-align: center;
    }
}
@media (min-width: 1240px) {
    #nav-primary li a {
    }
}
#nav-primary li a .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 7px;
    fill: white
}
#nav-primary li a .icon-gccme {
    width: 28px;
    height: 28px;
}
@media (min-width: 768px) {
    #nav-primary li a .icon-gccme {
        margin-top: -15px;
        margin-left: -15px;
    }
    #nav-primary li a .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -13px;
        margin-top: -13px;
    }
}
@media (min-width: 1240px) {
    #nav-primary li a .icon {
        top: auto;
        bottom: 27px;
        margin-top: 0;
    }
}
#nav-primary li a > span {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    padding: 0 15px 0 50px;
}
@media (min-width: 768px) {
    #nav-primary li a > span {
        text-align: center;
        padding: 0;
        height: 25px;
        line-height: 25px;
        bottom: 3px;
    }
}
/* Dashboard */
.dashboard {
    margin-right: -10px;
}
.dashboard section {
    background-color: transparent;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 10px;
}
.dashboard section header {
    width: 100%;
    height: 40px;
}
.dashboard section header a {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    line-height: 15px;
    padding: 0 3px;
    color: #565656;
    text-decoration: none;
    font-size: 13px;
}
.dashboard section .dashboard-wrap {
    background-color: #ffffff;
    padding: 5px;
    margin-right: 0.5%;
}
.dashboard section .dashboard-image img {
    width: 100%;
}
.dashboard section h2 {
    font-size: 16px;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    margin: 0;
}
.dashboard section.main h2 {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 991px) {
    section.user-info .photo {
        padding-right: 0;
    }
}
section.user-info .photo img {
    max-width: 100%;
    max-height: 80px;
}
section.user-info .info {
    padding-left: 20px;
}
section.user-info .info .row {
    margin-right: 0;
}
@media (max-width: 991px) {
    section.user-info .info .row {
        margin-left: 0;
    }
}
section.user-info .team {
    white-space: nowrap;
    overflow: hidden;
}
.username, section.user-info .team .team-name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
section.user-info .team .team-name {
    display: block;
    text-overflow: ellipsis;
}
section.user-info .name {
    font-size: 11px;
    text-transform: uppercase;
    color: #565656;
}
section.user-info .value {
    font-size: 18px;
    font-weight: bold;
}
section.user-info .row div:last-child {
    padding-left: 0;
}

/* Font Awesome */
.fa-pull-left, .fa-pull-right {
    margin-top: 0.2em
}

/* Page with fix width */
.page {
    background-color: #ffffff;
    padding: 10px 30px 30px 30px;
}

/* Navbar in footer */
.navbar.footer {
    margin-bottom: 0;
    border-radius: 0;
}

/* Заголовки */
.page h1,
.page .h1,
.page h2,
.page .h2,
.page h3,
.page .h3,
.page h4,
.page .h4,
.page h5,
.page .h5,
.page h6,
.page .h6 {
    color: #394E32;
}
h1,
.h1 {
    font-size: 30px !important;
}
h2,
.h2 {
    font-size: 25px !important;;
}
h3,
.h3 {
    font-size: 20px !important;;
}
h4,
.h4 {
    font-size: 15px !important;;
}
h5,
.h5 {
    font-size: 12px !important;;
}
h6,
.h6 {
    font-size: 10px !important;;
}